.note_form_page{
    margin-left: 141px;
}

#note_label{
    margin-top: 10px;
    display: block;
    width: 100%;
}

#title{
    text-align: center;
    margin: auto;
    width: 30%;
}

#contents{
    background-color: white;
    display: block;
    margin-left: 20px;
    overflow: auto;
    width: calc(100vw - 181px);
    height: 100vw;
    resize: none;
    min-height: 200px;

    word-wrap: break-word;
}

button{
    text-align: center;
}

@media (max-width: 414px){
    #title{
        width: 150px;
    }
}