.tabname, .gamename{
    margin-left: 141px;
    text-align: center;
    color: black;
}

.goback{
    padding-left: 141px;
    padding-bottom: 10px;
    text-align: center;
}

.gameSelect{
    margin:auto;
    margin-top: 20px;
   box-sizing: border-box;
    width: 200px;
}

p{
    height: 37.5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    text-decoration: none;
}

h3{
    white-space: nowrap;
    font-size: 18.72px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.spacing{
    margin-left: 141px;
}

.note_list{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.small_note h3, .small_note p{
    background-color: #55CDFC;
}

.small_note h3{
    margin-bottom: 0;
}

.small_note p{
    margin: 0;  
}

.small_note{
    background-color: #55CDFC;
    display: inline-block;
    border: 2px black solid;
    margin: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
}

@media (min-width: 1px){
    p{
        font-size: 12px;
    }

    .note_list{
        width: calc(100vw - 141px)
    }

    .gameSelect{
        width: 150px;
    }
}

@media (max-width: 414px){
    p{
        font-size: 12px;
    }
    .spacing, .tabname, .gamename{
        margin-left: 106px;
    }

    .small_note{
        width: 150px;
    }

    .note_list{
        justify-content: center;
        
    }
}

@media (max-width: 587px){
    p{
        font-size: 12px;
    }
    .note_list{
        justify-content: center;
        
    }
}

