.expanded_notes{
    display: block;
    margin-left: 141px;
}

.delete_note_button p, .update_note_button p{
    text-align: center;
}

.note_content{
    margin: 10px;
    text-align: left;
    white-space: pre-wrap;
}

.note_title{
    color: black;
}


@media (max-width: 414px){
    .note_content{
        text-align: center;
    }
}