input{
    display: block;
    margin: auto;
}

label{
    display: block; 
    text-align: center;
    margin-top: 20px;
}

button{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.landing{
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 570px;
    height: 100vw;
    align-self: center;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}