input{
    display: block;
    margin: auto;
}

label{
    display: block; 
    text-align: center;
    margin-top: 20px;
}

button{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.landing{
    height: 100vw;
    text-align: center;
    text-overflow: break-word;
}